logs
*.log
npm-debug.log*
node_modules
stacktrace*
.idea
*.iml
build
.env
prebuilds
builds
*.DS_Store
examples/electron-example/.DS_Store
docs/.vuepress/dist

libuiohook/nbproject/
libuiohook/build/
libuiohook/autom4te.cache/
libuiohook/config/
libuiohook/cmake/
libuiohook/include/config.h.in*
libuiohook/m4/ltoptions.m4
libuiohook/m4/ltversion.m4
libuiohook/m4/libtool.m4
libuiohook/m4/ltsugar.m4
libuiohook/m4/lt~obsolete.m4
libuiohook/Makefile.in
libuiohook/configure
libuiohook/aclocal.m4

libuiohook/CMakeFiles/
libuiohook/demo_hook_async.dir/
libuiohook/demo_hook.dir/
libuiohook/demo_post.dir/
libuiohook/demo_properties.dir/
libuiohook/Release/
libuiohook/uiohook.dir/
libuiohook/*.vcxproj
libuiohook/*.vcxproj.filters
libuiohook/*.cmake
libuiohook/*.sln

# Added after build in MacOS
libuiohook/Makefile
libuiohook/config.status
libuiohook/include/config.h
libuiohook/include/stamp-h1
libuiohook/libtool
libuiohook/pc/uiohook.pc
libuiohook/src/.deps/demohook-demo_hook.Po
libuiohook/src/.deps/demohookasync-demo_hook_async.Po
libuiohook/src/.deps/demopost-demo_post.Po
libuiohook/src/.deps/demoprops-demo_properties.Po
libuiohook/src/.deps/libuiohook_la-logger.Plo
libuiohook/src/darwin/.deps/libuiohook_la-input_helper.Plo
libuiohook/src/darwin/.deps/libuiohook_la-input_hook.Plo
libuiohook/src/darwin/.deps/libuiohook_la-post_event.Plo
libuiohook/src/darwin/.deps/libuiohook_la-system_properties.Plo
libuiohook/src/windows/.deps/libuiohook_la-input_helper.Plo
libuiohook/src/windows/.deps/libuiohook_la-input_hook.Plo
libuiohook/src/windows/.deps/libuiohook_la-post_event.Plo
libuiohook/src/windows/.deps/libuiohook_la-system_properties.Plo
libuiohook/src/x11/.deps/libuiohook_la-input_helper.Plo
libuiohook/src/x11/.deps/libuiohook_la-input_hook.Plo
libuiohook/src/x11/.deps/libuiohook_la-post_event.Plo
libuiohook/src/x11/.deps/libuiohook_la-system_properties.Plo
libuiohook/test/.deps/testhook-input_helper_test.Po
libuiohook/test/.deps/testhook-system_properties_test.Po
libuiohook/test/.deps/testhook-uiohook_test.Po
